{% extends 'base.html.twig' %}
{% block title %}
	{{article[0].titre}}
{% endblock %}
{% block body %}
	<div class="container">
		<div class="jumbotron mt-5">
			<div class="col-sm-8 mx-auto">
				<h1 class="text-center">{{ article[0].titre }}</h1>
			</div>
			<br>
			<small>{{ article[0].dateModif |date('Y-m-d H:i:s') }}</small>
			<div style="text-align: center;">
				<p>{{ article[0].contenu }}</p>
			</div>
			<small>{{ article[0].getIdUser().nom }}
				{{ article[0].getIdUser().prenom }}</small>
		</div>
		{% if app.user %}
			<div class="jumbotron mt-2">
				<form method="post" action="{{ path('commenter_article',{id:article[0].id}) }}">
					<textarea class="form-control" aria-label="With textarea" name='comment'></textarea>
					<button class="btn btn-secondary mt-2">Poster le commentaire</button>
				</form>
			</div>
		{% endif %}
		{% for comment in comments %}
			<div class="jumbotron mt-2">
				<div>
					{{comment.contenu}}
				</div>
				<small>
					<br>
					{{ comment.getIdUser().nom }}
					{{ comment.getIdUser().prenom }}
				</small>
			</div>
		{% endfor %}
	</div>
{% endblock %}
