{{ form_start(form) }}
<div class = "col-md-4">{{ form_row(form.username) }} </div>
<div class = "col-md-4">{{ form_row(form.password) }} </div>
<div class = "col-md-3">{{ form_row(form.nom) }} </div>
<div class = "col-md-3">{{ form_row(form.prenom) }} </div>
<div class = "col-md-3" style="display: none;">{{ form_row(form.grade) }} </div>
{{ form_widget(form) }}
<button class="btn btn-secondary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
